<p>
  <strong>Event name:</strong>
  <%= @event.event_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Number of tas:</strong>
  <%= @event.number_of_tas %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Meetup url:</strong>
  <%= @event.meetup_url %>
</p>

<% if !@user.nil? %>
  <% if @user.is_ta_for?(@event)%>
    <%= link_to 'Unregister as TA', '/events/' + @event.id.to_s + '/remove_ta/', class: 'btn btn-sm btn-info' %> |
  <% else %>
    <%= link_to 'TA for this class', '/events/' + @event.id.to_s + '/add_ta/', class: 'btn btn-sm btn-info' %> |
  <% end %>
<% end %>
<%= link_to 'Back', events_path, class: 'btn btn-sm btn-default' %>
<% if !current_user.nil? && current_user.has_role?(:admin) %>
  | <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-sm btn-warning' %> 
  <h3>List of TA's signed up to help</h3>
  <% @event_users.each do |eu| %>
    <ul>
      <li><%= eu.email %></li>
    </ul>
  <% end %>


<% end %>
