<!DOCTYPE html>
<html>
  <head>
    <title>Volunteermanagerapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container">
    <!-- add alert and notices for Devise installation -->
      <div id="notice"><%= notice %></div>
  		<%= yield %>
    </div>
  </body>
</html>
